[Desktop Entry]
Type=Application
Name=Victoria
Icon=me.appadeia.Victoria
Exec=Victoria
Comment=A place for your web apps.
Categories=Network;Chat;Email;IRCClient;VideoConference;InstantMessaging
GenericName=Web App Browser
